# Segala macam file yang tidak perlu diupload ke github

# Environment variables
env.*
.env

# Lock file
package-lock.json
yarn.lock

# Dependency directories
node_modules/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Linux
*.swp

# Logs
logs
*.log